@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&family=Ysabeau+Infant:wght@500&display=swap');

* {
    padding: 0%;
    margin: 0%;
}
body{
    padding: 0%;
    margin: 0%;
}
.row-bg {
    width: 100%;
    margin: 0%;
}
.row-D {
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
}
.back-ground {
    /* background-color: rgb(240, 240, 240); */
    background-color: rgb(135, 165, 88);
    height: 100vh;
    width: 100%;
}
/* .section1 {
    background-color: #ffffff;
    height: 12.5vh;
    display: flex;
} */
.font-f {
   /* font-size: 30px; */
   font-family: 'Raleway Dots', cursive;
   font-family: 'Ysabeau Infant', sans-serif;
   letter-spacing: 7px;
   /* padding: 15px 0px 0px 15px; */
}
.Email {
    color: rgb(0, 0, 0);
    /* position: absolute; */
    /* padding: 25px 0px 0px 500px; */
    /* padding: 25px 0px 0px 450px; */
    /* padding: 25px 0px 0px 0px; */
    /* margin-top: -35px; */
}   
.ttt-btn {
    height: 40px;
    width: 225px;
    min-width: 10px;
    background-color: black;
    color: #ffffff;
    margin-left: 6vh;
}
.one-btn {
    height: 40px;
    width: 225px;
    min-width: max-content;
    background-color: black;
    color: #ffffff;
    margin-left: 2vh;
}
/* .t-logo {
    height: 15px;
    background-color: #000000;
    
  
} */
  
/* .o-btn {
    width: 90%; 
    height: 40px; 
    color: whitesmoke; 
    background-color: black; 
    margin: 4vh 3vh 0vh 2vh; 
    text-align: start;
} */
/* .o-logo {
    height: 38px; 
    width: 38px; 
    background: #414141; 
    padding: 8px;
} */
@media (max-width: 576px) {
    /* .font-f {
        font-size: 17px;
    }
    .Email {
        font-size: 10px;
        display: none;
    } */
    .font-f {
        font-size: 17px;
        text-align: center;
        padding-top: 3%;
    }
    .Email {
        font-size: 13px;
        text-align: center;
        padding-top: 8%;
        display: none;
    }
    .navbar-nav {
        text-align: center;
        align-items: center;
        margin-left: 170px;
    }
    .nav-link {
        display: flex;
        align-items: center;
    }
    .nav-cent {
        font-size: 17px;
        font-weight: bold;
        padding: 0 0 0 30px;
    }
    .container-fluid {
        margin-left: -10px;
    }
    .height-i {
        height: 28px;
        width: 30px;
        margin-left: 20px;
        display: flex;
      }
    .height-m {
    height: 32px;
    width: 30px;
    margin-left: 20px;
    display: flex;
    }
    .car-size {
        width: 100%;
        margin-top: 25px;
        margin-left: -15px;
        /* margin-top: 5.5vh; */
    }
    .t-btn {
        margin-top: 10vh;
        width: 6vh;
        height: 22px;
        background-color: #000000;
        font-size: 8px;
        color: #ffffff;
        text-align: center;
        margin-left: -20px;
    }
    .t-logo {
        height: 9px;
        background-color: #000000;
        position: absolute;
        margin:1% 0 0 -0.2%;
    }
      
    .tt-btn {
        margin-top: 10vh;        
        width: 6vh;
        height: 23px;
        background-color: #000000;
        font-size: 8px;
        color: #ffffff;
        text-align: center;
        margin-left: 20px;
    }
    .o-btn {
        margin: 18px 0px 0px -20px;
        height: 22px; 
        width: 14.5vh; 
        background-color: #000000;
        color: #ffffff;
        font-size: 8px;
        text-align: center;
    }
    .o-log {
        height: 18px; 
        width: 18px; 
        background: #414141; 
        padding: 0.1px;
        /* position: absolute; */
        margin-top: -1.5px;
        margin-left: -4.2vh;
    }
    .f-o {
        text-align: center;
        padding-left: 30px;
    }
    .flip-cardO {
        /* width: 410px; */
        height: 140px;
        width: 14vh;
        perspective: 1000px;
        margin: 18px 0 0 -20px;
    }
    .flip-cardO:hover .flip-card-innerO {
        transform: rotateY(180deg);
    }
    .flip-card-innerO {
        position: relative;
        width: 100%;
        height: 80%;
        transform-style: preserve-3d;
        transition: transform 0.6s;
        transform: rotateY(0deg);
    }
    
    .flip-card-frontO,
    .flip-card-backO {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 6px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    }
    
    .flip-card-frontO {
        /* background-color: #f1f1f1; */
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 8px;
    }
    
    .flip-card-backO {
        background-color: #ffffff;
        transform: rotateY(180deg);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000000;
        font-size: 8px;
        font-weight: bold;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .font-f {
        font-size: 33px;
        text-align: center;
        padding-top: 3%;
    }
    .Email {
        font-size: 13px;
        text-align: center;
        padding-top: 8%;
    }
    .navbar-nav {
        text-align: center;
        align-items: center;
        margin-left: 170px;
    }
    .nav-link {
        display: flex;
        align-items: center;
    }
    .nav-cent {
        font-size: 17px;
        font-weight: bold;
        padding: 0 0 0 30px;
    }
    .container-fluid {
        margin-left: -20px;
    }
    .height-i {
        height: 28px;
        width: 30px;
        margin-left: 20px;
        display: flex;
      }
    .height-m {
    height: 32px;
    width: 30px;
    margin-left: 20px;
    display: flex;
    }
    .car-size {
        width: 99%;
        /* margin-top: 25px; */
        margin-left: -20px;
        max-width: 100%;
        max-height: 100%;
        margin-top: 12vh;
    }
    .s-btn {
        height: 30px;
        width: 12vh;
        color: #ffffff;
        background-color: #000000;
        display: inline-flex;
        align-items: center;
        padding: 0px 0px 0 10px;
        margin-top: 12vh;
        border: none;
        font-size: 14px;
        cursor: pointer;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .sl-btn {
        height: 30px;
        width: 12vh;
        color: #ffffff;
        background-color: #000000;
        display: inline-flex;
        align-items: center;
        padding: 0px 0px 0px 10px;
        margin-top: 12vh;
        border: none;
        font-size: 14px;
        cursor: pointer;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .log-o {
        margin-left: auto;
        height: 20px;
    }
    .l-btn {
        height: 30px;
        width: 64vh;
        color: #ffffff;
        text-align: center;
        background-color: #000000;
        display: inline-flex;
        padding: 5px 75px 0px 0px;
        margin-top: 25px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .logo-l {
        background-color: #414141;
        height: 30px;
        margin-right: auto;
        padding: 0px;
        margin: -5px auto 0px 0px;
    }
    .flip-cardO {
        /* width: 410px; */
        height: 180px;
        width: 95vh;
        max-width: 105%;
        perspective: 1000px;
        margin: 20px 0 0 -10px;
        /* white-space: nowrap; */
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card-text{
        font-size: 9.6px;
        padding: 20px;
    }
    .flip-cardO:hover .flip-card-innerO {
        transform: rotateY(180deg);
    }
    .flip-card-innerO {
        position: relative;
        width: 100%;
        height: 80%;
        transform-style: preserve-3d;
        transition: transform 0.6s;
        transform: rotateY(0deg);
    }
    
    .flip-card-frontO,
    .flip-card-backO {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 6px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    }
    
    .flip-card-frontO {
        /* background-color: #f1f1f1; */
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
    }
    
    .flip-card-backO {
        background-color: #ffffff;
        transform: rotateY(180deg);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000000;
        font-weight: bold;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .font-f {
        font-size: 33px;
        text-align: center;
        padding-top: 3%;
    }
    .Email {
        font-size: 13px;
        text-align: center;
        padding-top: 8%;
    }
    .navbar-nav {
        /* font-size: 30px; */
    }
    .navbar-nav {
        text-align: center;
        align-items: center;
        margin-left: 170px;
    }
    .nav-link {
        display: flex;
        align-items: center;
    }
    .nav-cent {
        font-size: 17px;
        font-weight: bold;
        padding: 0 0 0 30px;
    }
    .container-fluid {
        margin-left: -20px;
    }
    .height-i {
        height: 28px;
        width: 30px;
        margin-left: 20px;
        display: flex;
      }
    .height-m {
    height: 32px;
    width: 30px;
    margin-left: 20px;
    display: flex;
    }
    .car-size {
        width: 99%;
        /* margin-top: 25px; */
        margin-left: -20px;
        max-width: 100%;
        /* margin-top: 5.5vh; */
    }
    .s-btn {
        height: 38px;
        width: 17vh;
        color: #ffffff;
        background-color: #000000;
        display: inline-flex;
        align-items: center;
        padding: 0px 0px 0 25px;
        margin-top: 50px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .sl-btn {
        height: 38px;
        width: 17vh;
        color: #ffffff;
        background-color: #000000;
        display: inline-flex;
        align-items: center;
        padding: 0px 0px 0 25px;
        margin-top: 50px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .log-o {
        margin-left: auto;
    }
    .l-btn {
        height: 38px;
        width: 64vh;
        color: #ffffff;
        text-align: center;
        background-color: #000000;
        display: inline-flex;
        padding: 5px 75px 0px 0px;
        margin-top: 25px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .logo-l {
        background-color: #414141;
        height: 40px;
        margin-right: auto;
        padding: 0px;
        margin: -5px auto 0px 0px;
    }
    .flip-cardO {
        /* width: 410px; */
        height: 240px;
        width: 64vh;
        max-width: 100%;
        perspective: 1000px;
        margin: 48px 0 0 0px;
        /* white-space: nowrap; */
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card-text{
        font-size: 13.5px;
        padding: 20px;
    }
    .flip-cardO:hover .flip-card-innerO {
        transform: rotateY(180deg);
    }
    .flip-card-innerO {
        position: relative;
        width: 100%;
        height: 80%;
        transform-style: preserve-3d;
        transition: transform 0.6s;
        transform: rotateY(0deg);
    }
    
    .flip-card-frontO,
    .flip-card-backO {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 6px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    }
    
    .flip-card-frontO {
        /* background-color: #f1f1f1; */
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
    }
    
    .flip-card-backO {
        background-color: #ffffff;
        transform: rotateY(180deg);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000000;
        font-weight: bold;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    /* .font-f {
        font-size: 30px;
        text-align: center;
    } */
    /* .Email {
        font-size: 30px;
        text-align: center;
        padding-top: 5%;
    } */
    /* .navbar-nav {
        font-size: 30px;
    } */
    /* .height-i {
        height: 60px;
        width: 60px;
        margin-left: 60px;
        display: flex;
      } */
    .font-f {
        font-size: 33px;
        text-align: center;
        padding-top: 3%;
    }
    .Email {
        font-size: 13px;
        text-align: center;
        padding-top: 8%;
    }
    .navbar-nav {
        /* font-size: 30px; */
    }
    .nav-cent {
        display: none;
    }
    .height-i {
        height: 28px;
        width: 30px;
        margin-left: 20px;
        display: flex;
      }
    .height-m {
    height: 32px;
    width: 30px;
    margin-left: 20px;
    display: flex;
    }
    .car-size {
        width: 98%;
        /* margin-top: 25px; */
        margin-left: -20px;
        max-width: 100%;
        /* margin-top: 5.5vh; */
    }
    .s-btn {
        height: 40px;
        width: 22vh;
        color: #ffffff;
        background-color: #000000;
        display: inline-flex;
        align-items: center;
        padding: 0px 0px 0 45px;
        margin-top: 50px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .sl-btn {
        height: 40px;
        width: 22vh;
        color: #ffffff;
        background-color: #000000;
        display: inline-flex;
        align-items: center;
        padding: 0px 0px 0 45px;
        margin-top: 50px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .log-o {
        margin-left: auto;
    }
    .l-btn {
        height: 40px;
        width: 64vh;
        color: #ffffff;
        text-align: center;
        background-color: #000000;
        display: inline-flex;
        padding: 5px 175px 0px 0px;
        margin-top: 25px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .logo-l {
        background-color: #414141;
        height: 40px;
        margin-right: auto;
        padding: 0px;
        margin: -5px auto 0px 0px;
    }
    .flip-cardO {
        /* width: 410px; */
        height: 240px;
        width: 64vh;
        max-width: 100%;
        perspective: 1000px;
        margin: 48px 0 0 0px;
        /* white-space: nowrap; */
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card-text{
        font-size: 15px;
        padding: 20px;
    }
    .flip-cardO:hover .flip-card-innerO {
        transform: rotateY(180deg);
    }
    .flip-card-innerO {
        position: relative;
        width: 100%;
        height: 80%;
        transform-style: preserve-3d;
        transition: transform 0.6s;
        transform: rotateY(0deg);
    }
    
    .flip-card-frontO,
    .flip-card-backO {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 6px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    }
    
    .flip-card-frontO {
        /* background-color: #f1f1f1; */
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
    }
    
    .flip-card-backO {
        background-color: #ffffff;
        transform: rotateY(180deg);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000000;
        font-weight: bold;
    }
    .card-text{
        font-size: 15px;
        padding: 20px;
    }
}   
@media (min-width: 1200px) {
    .font-f {
        font-size: 33px;
        text-align: center;
        padding-top: 3%;
    }
    .Email {
        font-size: 13px;
        text-align: center;
        padding-top: 8%;
        /* display: none; */
    }
    .navbar-nav {
        /* font-size: 30px; */
    }
    .nav-cent {
        display: none;
    }
    .height-i {
        height: 28px;
        width: 30px;
        margin-left: 20px;
        display: flex;
    }
    .height-m {
    height: 32px;
    width: 30px;
    margin-left: 20px;
    display: flex;
    }
    .car-size {
        width: 98%;
        /* margin-top: 25px; */
        margin-left: -20px;
        max-width: 100%;
        /* margin-top: 5.5vh; */
    }
    .s-btn {
        height: 40px;
        width: 25vh;
        color: #ffffff;
        background-color: #000000;
        display: inline-flex;
        align-items: center;
        padding: 0px 0px 0 55px;
        margin-top: 50px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .sl-btn {
        height: 40px;
        width: 25vh;
        color: #ffffff;
        background-color: #000000;
        display: inline-flex;
        align-items: center;
        padding: 0px 0px 0 55px;
        margin-top: 50px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .log-o {
        margin-left: auto;
    }
    .l-btn {
        height: 40px;
        width: 64vh;
        color: #ffffff;
        text-align: center;
        background-color: #000000;
        display: inline-flex;
        padding: 5px 175px 0px 0px;
        margin-top: 25px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .logo-l {
        background-color: #414141;
        height: 40px;
        margin-right: auto;
        padding: 0px;
        margin: -5px auto 0px 0px;
    }
    .flip-cardO {
        /* width: 410px; */
        height: 240px;
        width: 64vh;
        max-width: 100%;
        perspective: 1000px;
        margin: 48px 0 0 0px;
        /* white-space: nowrap; */
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .flip-cardO:hover .flip-card-innerO {
        transform: rotateY(180deg);
    }
    .flip-card-innerO {
        position: relative;
        width: 100%;
        height: 80%;
        transform-style: preserve-3d;
        transition: transform 0.6s;
        transform: rotateY(0deg);
    }
    
    .flip-card-frontO,
    .flip-card-backO {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 6px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    }
    
    .flip-card-frontO {
        /* background-color: #f1f1f1; */
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 10px;
    }
    
    .flip-card-backO {
        background-color: #ffffff;
        transform: rotateY(180deg);
        display: flex;
        justify-content: center;
        align-items: center;
        /* color: #000000; */
        color: rgb(135, 165, 88);
        font-size: 18px;
        font-weight: bold;
    }
    .card-text {
        font-size: 18px;
        padding: 10px;
    }
}
@media (max-width: 2000px) {
    .t-btn {
        margin-top: 10vh;
        width: 25vh;
        height: 40px;
        background-color: #000000;
        color: #ffffff;
        text-align: center;
        margin-left: -20px;
    }
    .t-logo {
        height: 25px;
        background-color: #000000;
        position: absolute;
        margin:0 0 0 4%;
    }
}
